@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: rgba(52, 52, 224, 0.671);
  font-family: 'Roboto', sans-serif;
  color:white;
}

header{
  color:white;
  text-align: center;

}

section{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 55vw;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(15, 15, 15, 0.479);
}

footer{
  color:white;
  text-align: center;
  font-style: italic;
}